/*
font-family: 'Open Sans', sans-serif;
font-family: 'Alegreya', serif;
*/
body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: 400;
	color: #1f1f26;
}

ul {
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Alegreya', serif;
}

a {
	color: #1f1f26;
	text-decoration: none;
}

h1 {
	font-size: 300%;
	line-height: 110%;
	margin: 0;
	color: #fff;
}

.container {
	max-width: 1170px;
	width: 85%;
	margin: 0 auto;
}

header {
	height: 75px;
	padding-top: 10px;
}

.header-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;;
}

.navbar li {
	display: inline-block;
	margin-left: 30px;
}

.navbar li a{
	font-family: 'Alegreya', serif;
}

.navbar li img {
	width: 80%;
	height: auto;
}

.hero {
	background: url('../images/hero-bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 200px;
	padding-bottom: 170px;
}

.hero p {
	display: block;
	max-width: 600px;
	color: #fff;
	font-size: 80%;
	font-weight: 400;
	line-height: 150%;
}

